In [1]:
# Cell 1: Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter
import warnings
warnings.filterwarnings('ignore')

# Set style
sns.set_style("whitegrid")
plt.rcParams['figure.figsize'] = (15, 10)
plt.rcParams['font.size'] = 10

print("✅ Libraries berhasil diimport!")

✅ Libraries berhasil diimport!

In [3]:
df = pd.read_csv('C:/Users/Lenovo/Documents/TUGAS AKHIR/ieee-fraud-detection/train_transaction.csv')
print("=== 5 Baris Pertama ===")
print(df.head())
print("\n")

=== 5 Baris Pertama ===
   TransactionID  isFraud  TransactionDT  TransactionAmt ProductCD  card1  \
0        2987000        0          86400            68.5         W  13926
1        2987001        0          86401            29.0         W   2755
2        2987002        0          86469            59.0         W   4663
3        2987003        0          86499            50.0         W  18132
4        2987004        0          86506            50.0         H   4497

   card2  card3       card4  card5  ... V330  V331  V332  V333  V334 V335  \
0    NaN  150.0    discover  142.0  ...  NaN   NaN   NaN   NaN   NaN  NaN
1  404.0  150.0  mastercard  102.0  ...  NaN   NaN   NaN   NaN   NaN  NaN
2  490.0  150.0        visa  166.0  ...  NaN   NaN   NaN   NaN   NaN  NaN
3  567.0  150.0  mastercard  117.0  ...  NaN   NaN   NaN   NaN   NaN  NaN
4  514.0  150.0  mastercard  102.0  ...  0.0   0.0   0.0   0.0   0.0  0.0

  V336  V337  V338  V339
0  NaN   NaN   NaN   NaN
1  NaN   NaN   NaN   NaN
2  NaN   NaN   NaN   NaN
3  NaN   NaN   NaN   NaN
4  0.0   0.0   0.0   0.0

[5 rows x 394 columns]

In [4]:
# 3. Informasi umum dataset
print("=== Informasi Dataset ===")
print(df.info())
print("\n")

=== Informasi Dataset ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590540 entries, 0 to 590539
Columns: 394 entries, TransactionID to V339
dtypes: float64(376), int64(4), object(14)
memory usage: 1.7+ GB
None

In [5]:
# 4. Statistik deskriptif untuk kolom numerik
print("=== Statistik Deskriptif ===")
print(df.describe())
print("\n")

=== Statistik Deskriptif ===
       TransactionID        isFraud  TransactionDT  TransactionAmt  \
count   5.905400e+05  590540.000000   5.905400e+05   590540.000000
mean    3.282270e+06       0.034990   7.372311e+06      135.027176
std     1.704744e+05       0.183755   4.617224e+06      239.162522
min     2.987000e+06       0.000000   8.640000e+04        0.251000
25%     3.134635e+06       0.000000   3.027058e+06       43.321000
50%     3.282270e+06       0.000000   7.306528e+06       68.769000
75%     3.429904e+06       0.000000   1.124662e+07      125.000000
max     3.577539e+06       1.000000   1.581113e+07    31937.391000

               card1          card2          card3          card5  \
count  590540.000000  581607.000000  588975.000000  586281.000000
mean     9898.734658     362.555488     153.194925     199.278897
std      4901.170153     157.793246      11.336444      41.244453
min      1000.000000     100.000000     100.000000     100.000000
25%      6019.000000     214.000000     150.000000     166.000000
50%      9678.000000     361.000000     150.000000     226.000000
75%     14184.000000     512.000000     150.000000     226.000000
max     18396.000000     600.000000     231.000000     237.000000

               addr1          addr2  ...          V330           V331  \
count  524834.000000  524834.000000  ...  82351.000000   82351.000000
mean      290.733794      86.800630  ...      0.775874     721.741883
std       101.741072       2.690623  ...      4.727971    6217.223583
min       100.000000      10.000000  ...      0.000000       0.000000
25%       204.000000      87.000000  ...      0.000000       0.000000
50%       299.000000      87.000000  ...      0.000000       0.000000
75%       330.000000      87.000000  ...      0.000000       0.000000
max       540.000000     102.000000  ...     55.000000  160000.000000

                V332           V333          V334         V335          V336  \
count   82351.000000   82351.000000  82351.000000  82351.00000  82351.000000
mean     1375.783644    1014.622782      9.807015     59.16455     28.530903
std     11169.275702    7955.735482    243.861391    387.62948    274.576920
min         0.000000       0.000000      0.000000      0.00000      0.000000
25%         0.000000       0.000000      0.000000      0.00000      0.000000
50%         0.000000       0.000000      0.000000      0.00000      0.000000
75%        25.000000       0.000000      0.000000      0.00000      0.000000
max    160000.000000  160000.000000  55125.000000  55125.00000  55125.000000

                V337           V338           V339
count   82351.000000   82351.000000   82351.000000
mean       55.352422     151.160542     100.700882
std       668.486833    1095.034387     814.946722
min         0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000
75%         0.000000       0.000000       0.000000
max    104060.000000  104060.000000  104060.000000

[8 rows x 380 columns]

In [6]:
# 5. Statistik deskriptif untuk semua kolom (termasuk kategorikal)
print("=== Statistik Deskriptif Lengkap ===")
print(df.describe(include='all'))
print("\n")

=== Statistik Deskriptif Lengkap ===
        TransactionID        isFraud  TransactionDT  TransactionAmt ProductCD  \
count    5.905400e+05  590540.000000   5.905400e+05   590540.000000    590540
unique            NaN            NaN            NaN             NaN         5
top               NaN            NaN            NaN             NaN         W
freq              NaN            NaN            NaN             NaN    439670
mean     3.282270e+06       0.034990   7.372311e+06      135.027176       NaN
std      1.704744e+05       0.183755   4.617224e+06      239.162522       NaN
min      2.987000e+06       0.000000   8.640000e+04        0.251000       NaN
25%      3.134635e+06       0.000000   3.027058e+06       43.321000       NaN
50%      3.282270e+06       0.000000   7.306528e+06       68.769000       NaN
75%      3.429904e+06       0.000000   1.124662e+07      125.000000       NaN
max      3.577539e+06       1.000000   1.581113e+07    31937.391000       NaN

                card1          card2          card3   card4          card5  \
count   590540.000000  581607.000000  588975.000000  588963  586281.000000
unique            NaN            NaN            NaN       4            NaN
top               NaN            NaN            NaN    visa            NaN
freq              NaN            NaN            NaN  384767            NaN
mean      9898.734658     362.555488     153.194925     NaN     199.278897
std       4901.170153     157.793246      11.336444     NaN      41.244453
min       1000.000000     100.000000     100.000000     NaN     100.000000
25%       6019.000000     214.000000     150.000000     NaN     166.000000
50%       9678.000000     361.000000     150.000000     NaN     226.000000
75%      14184.000000     512.000000     150.000000     NaN     226.000000
max      18396.000000     600.000000     231.000000     NaN     237.000000

        ...          V330           V331           V332           V333  \
count   ...  82351.000000   82351.000000   82351.000000   82351.000000
unique  ...           NaN            NaN            NaN            NaN
top     ...           NaN            NaN            NaN            NaN
freq    ...           NaN            NaN            NaN            NaN
mean    ...      0.775874     721.741883    1375.783644    1014.622782
std     ...      4.727971    6217.223583   11169.275702    7955.735482
min     ...      0.000000       0.000000       0.000000       0.000000
25%     ...      0.000000       0.000000       0.000000       0.000000
50%     ...      0.000000       0.000000       0.000000       0.000000
75%     ...      0.000000       0.000000      25.000000       0.000000
max     ...     55.000000  160000.000000  160000.000000  160000.000000

                V334         V335          V336           V337           V338  \
count   82351.000000  82351.00000  82351.000000   82351.000000   82351.000000
unique           NaN          NaN           NaN            NaN            NaN
top              NaN          NaN           NaN            NaN            NaN
freq             NaN          NaN           NaN            NaN            NaN
mean        9.807015     59.16455     28.530903      55.352422     151.160542
std       243.861391    387.62948    274.576920     668.486833    1095.034387
min         0.000000      0.00000      0.000000       0.000000       0.000000
25%         0.000000      0.00000      0.000000       0.000000       0.000000
50%         0.000000      0.00000      0.000000       0.000000       0.000000
75%         0.000000      0.00000      0.000000       0.000000       0.000000
max     55125.000000  55125.00000  55125.000000  104060.000000  104060.000000

                 V339
count    82351.000000
unique            NaN
top               NaN
freq              NaN
mean       100.700882
std        814.946722
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max     104060.000000

[11 rows x 394 columns]

In [7]:
# 6. Melihat bentuk data (jumlah baris dan kolom)
print("=== Bentuk Data ===")
print(f"Jumlah baris: {df.shape[0]}")
print(f"Jumlah kolom: {df.shape[1]}")
print(f"Dimensi: {df.shape}")
print("\n")

=== Bentuk Data ===
Jumlah baris: 590540
Jumlah kolom: 394
Dimensi: (590540, 394)

In [8]:
# 7. Melihat nama kolom
print("=== Nama Kolom ===")
print(df.columns.tolist())
print("\n")

=== Nama Kolom ===
['TransactionID', 'isFraud', 'TransactionDT', 'TransactionAmt', 'ProductCD', 'card1', 'card2', 'card3', 'card4', 'card5', 'card6', 'addr1', 'addr2', 'dist1', 'dist2', 'P_emaildomain', 'R_emaildomain', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14', 'D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'D10', 'D11', 'D12', 'D13', 'D14', 'D15', 'M1', 'M2', 'M3', 'M4', 'M5', 'M6', 'M7', 'M8', 'M9', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31', 'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V39', 'V40', 'V41', 'V42', 'V43', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49', 'V50', 'V51', 'V52', 'V53', 'V54', 'V55', 'V56', 'V57', 'V58', 'V59', 'V60', 'V61', 'V62', 'V63', 'V64', 'V65', 'V66', 'V67', 'V68', 'V69', 'V70', 'V71', 'V72', 'V73', 'V74', 'V75', 'V76', 'V77', 'V78', 'V79', 'V80', 'V81', 'V82', 'V83', 'V84', 'V85', 'V86', 'V87', 'V88', 'V89', 'V90', 'V91', 'V92', 'V93', 'V94', 'V95', 'V96', 'V97', 'V98', 'V99', 'V100', 'V101', 'V102', 'V103', 'V104', 'V105', 'V106', 'V107', 'V108', 'V109', 'V110', 'V111', 'V112', 'V113', 'V114', 'V115', 'V116', 'V117', 'V118', 'V119', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V126', 'V127', 'V128', 'V129', 'V130', 'V131', 'V132', 'V133', 'V134', 'V135', 'V136', 'V137', 'V138', 'V139', 'V140', 'V141', 'V142', 'V143', 'V144', 'V145', 'V146', 'V147', 'V148', 'V149', 'V150', 'V151', 'V152', 'V153', 'V154', 'V155', 'V156', 'V157', 'V158', 'V159', 'V160', 'V161', 'V162', 'V163', 'V164', 'V165', 'V166', 'V167', 'V168', 'V169', 'V170', 'V171', 'V172', 'V173', 'V174', 'V175', 'V176', 'V177', 'V178', 'V179', 'V180', 'V181', 'V182', 'V183', 'V184', 'V185', 'V186', 'V187', 'V188', 'V189', 'V190', 'V191', 'V192', 'V193', 'V194', 'V195', 'V196', 'V197', 'V198', 'V199', 'V200', 'V201', 'V202', 'V203', 'V204', 'V205', 'V206', 'V207', 'V208', 'V209', 'V210', 'V211', 'V212', 'V213', 'V214', 'V215', 'V216', 'V217', 'V218', 'V219', 'V220', 'V221', 'V222', 'V223', 'V224', 'V225', 'V226', 'V227', 'V228', 'V229', 'V230', 'V231', 'V232', 'V233', 'V234', 'V235', 'V236', 'V237', 'V238', 'V239', 'V240', 'V241', 'V242', 'V243', 'V244', 'V245', 'V246', 'V247', 'V248', 'V249', 'V250', 'V251', 'V252', 'V253', 'V254', 'V255', 'V256', 'V257', 'V258', 'V259', 'V260', 'V261', 'V262', 'V263', 'V264', 'V265', 'V266', 'V267', 'V268', 'V269', 'V270', 'V271', 'V272', 'V273', 'V274', 'V275', 'V276', 'V277', 'V278', 'V279', 'V280', 'V281', 'V282', 'V283', 'V284', 'V285', 'V286', 'V287', 'V288', 'V289', 'V290', 'V291', 'V292', 'V293', 'V294', 'V295', 'V296', 'V297', 'V298', 'V299', 'V300', 'V301', 'V302', 'V303', 'V304', 'V305', 'V306', 'V307', 'V308', 'V309', 'V310', 'V311', 'V312', 'V313', 'V314', 'V315', 'V316', 'V317', 'V318', 'V319', 'V320', 'V321', 'V322', 'V323', 'V324', 'V325', 'V326', 'V327', 'V328', 'V329', 'V330', 'V331', 'V332', 'V333', 'V334', 'V335', 'V336', 'V337', 'V338', 'V339']

In [9]:
# 8. Melihat tipe data setiap kolom
print("=== Tipe Data ===")
print(df.dtypes)
print("\n")

=== Tipe Data ===
TransactionID       int64
isFraud             int64
TransactionDT       int64
TransactionAmt    float64
ProductCD          object
                   ...
V335              float64
V336              float64
V337              float64
V338              float64
V339              float64
Length: 394, dtype: object

In [10]:
# 9. Mengecek nilai yang hilang (missing values)
print("=== Nilai yang Hilang ===")
print(df.isnull().sum())
print("\n")

=== Nilai yang Hilang ===
TransactionID          0
isFraud                0
TransactionDT          0
TransactionAmt         0
ProductCD              0
                   ...
V335              508189
V336              508189
V337              508189
V338              508189
V339              508189
Length: 394, dtype: int64

In [11]:
# 10. Mengecek persentase nilai yang hilang
print("=== Persentase Nilai yang Hilang ===")
print((df.isnull().sum() / len(df)) * 100)
print("\n")

=== Persentase Nilai yang Hilang ===
TransactionID      0.000000
isFraud            0.000000
TransactionDT      0.000000
TransactionAmt     0.000000
ProductCD          0.000000
                    ...
V335              86.054967
V336              86.054967
V337              86.054967
V338              86.054967
V339              86.054967
Length: 394, dtype: float64

In [12]:
# 11. Mengecek duplikasi data
print("=== Duplikasi Data ===")
print(f"Jumlah baris duplikat: {df.duplicated().sum()}")
print("\n")

=== Duplikasi Data ===
Jumlah baris duplikat: 0

In [13]:
# 12. Melihat nilai unik untuk setiap kolom
print("=== Jumlah Nilai Unik ===")
print(df.nunique())
print("\n")

=== Jumlah Nilai Unik ===
TransactionID     590540
isFraud                2
TransactionDT     573349
TransactionAmt     20902
ProductCD              5
                   ...
V335                 672
V336                 356
V337                 254
V338                 380
V339                 334
Length: 394, dtype: int64

In [14]:
# 13. Melihat distribusi nilai untuk kolom kategorikal
print("=== Distribusi Nilai Kategorikal ===")
for col in df.select_dtypes(include='object').columns:
    print(f"\nKolom: {col}")
    print(df[col].value_counts())
print("\n")

=== Distribusi Nilai Kategorikal ===

Kolom: ProductCD
ProductCD
W    439670
C     68519
R     37699
H     33024
S     11628
Name: count, dtype: int64

Kolom: card4
card4
visa                384767
mastercard          189217
american express      8328
discover              6651
Name: count, dtype: int64

Kolom: card6
card6
debit              439938
credit             148986
debit or credit        30
charge card            15
Name: count, dtype: int64

Kolom: P_emaildomain
P_emaildomain
gmail.com           228355
yahoo.com           100934
hotmail.com          45250
anonymous.com        36998
aol.com              28289
comcast.net           7888
icloud.com            6267
outlook.com           5096
msn.com               4092
att.net               4033
live.com              3041
sbcglobal.net         2970
verizon.net           2705
ymail.com             2396
bellsouth.net         1909
yahoo.com.mx          1543
me.com                1522
cox.net               1393
optonline.net         1011
charter.net            816
live.com.mx            749
rocketmail.com         664
mail.com               559
earthlink.net          514
gmail                  496
outlook.es             438
mac.com                436
juno.com               322
aim.com                315
hotmail.es             305
roadrunner.com         305
windstream.net         305
hotmail.fr             295
frontier.com           280
embarqmail.com         260
web.de                 240
netzero.com            230
twc.com                230
prodigy.net.mx         207
centurylink.net        205
netzero.net            196
frontiernet.net        195
q.com                  189
suddenlink.net         175
cfl.rr.com             172
sc.rr.com              164
cableone.net           159
gmx.de                 149
yahoo.fr               143
yahoo.es               134
hotmail.co.uk          112
protonmail.com          76
yahoo.de                74
ptd.net                 68
live.fr                 56
yahoo.co.uk             49
hotmail.de              43
servicios-ta.com        35
yahoo.co.jp             32
Name: count, dtype: int64

Kolom: R_emaildomain
R_emaildomain
gmail.com           57147
hotmail.com         27509
anonymous.com       20529
yahoo.com           11842
aol.com              3701
outlook.com          2507
comcast.net          1812
yahoo.com.mx         1508
icloud.com           1398
msn.com               852
live.com              762
live.com.mx           754
verizon.net           620
me.com                556
sbcglobal.net         552
cox.net               459
outlook.es            433
att.net               430
bellsouth.net         422
hotmail.fr            293
hotmail.es            292
web.de                237
mac.com               218
ymail.com             207
prodigy.net.mx        207
optonline.net         187
gmx.de                147
yahoo.fr              137
charter.net           127
mail.com              122
hotmail.co.uk         105
gmail                  95
earthlink.net          79
yahoo.de               75
rocketmail.com         69
embarqmail.com         68
scranton.edu           63
yahoo.es               57
live.fr                55
roadrunner.com         53
juno.com               53
frontier.com           52
windstream.net         47
hotmail.de             42
protonmail.com         41
yahoo.co.uk            39
cfl.rr.com             37
aim.com                36
servicios-ta.com       35
yahoo.co.jp            33
twc.com                29
ptd.net                27
cableone.net           27
q.com                  25
suddenlink.net         25
frontiernet.net        14
netzero.com            14
centurylink.net        12
netzero.net             9
sc.rr.com               8
Name: count, dtype: int64

Kolom: M1
M1
T    319415
F        25
Name: count, dtype: int64

Kolom: M2
M2
T    285468
F     33972
Name: count, dtype: int64

Kolom: M3
M3
T    251731
F     67709
Name: count, dtype: int64

Kolom: M4
M4
M0    196405
M2     59865
M1     52826
Name: count, dtype: int64

Kolom: M5
M5
F    132491
T    107567
Name: count, dtype: int64

Kolom: M6
M6
F    227856
T    193324
Name: count, dtype: int64

Kolom: M7
M7
F    211374
T     32901
Name: count, dtype: int64

Kolom: M8
M8
F    155251
T     89037
Name: count, dtype: int64

Kolom: M9
M9
T    205656
F     38632
Name: count, dtype: int64

In [15]:
# 14. Sample data acak
print("=== 3 Baris Acak ===")
print(df.sample(3))

=== 3 Baris Acak ===
        TransactionID  isFraud  TransactionDT  TransactionAmt ProductCD  \
232382        3219382        0        5509125            59.0         W
483712        3470712        0       12589984            15.0         S
147076        3134076        0        3020094           117.0         W

        card1  card2  card3       card4  card5  ... V330   V331   V332   V333  \
232382   7919  194.0  150.0  mastercard  202.0  ...  NaN    NaN    NaN    NaN
483712  16435  298.0  150.0        visa  226.0  ...  5.0  111.0  301.0  241.0
147076  10908  333.0  150.0        visa  226.0  ...  NaN    NaN    NaN    NaN

        V334   V335   V336  V337  V338  V339
232382   NaN    NaN    NaN   NaN   NaN   NaN
483712  13.0  168.0  108.0  53.0  88.0  88.0
147076   NaN    NaN    NaN   NaN   NaN   NaN

[3 rows x 394 columns]